.vscode/**
.vscode-test/**
.github/**

src/**
out/test/**
**/*.test.*
**/*.map
**/tsconfig.json

node_modules/**

.eslintrc*
eslint.config.*
tsconfig.json
.gitignore
.gitattributes

samples/**
docs/**
.editorconfig
.npmrc

CONTRIBUTING.md
SECURITY.md
CODE_OF_CONDUCT.md
PBI-*.md
PR-*.md

vscode-csharp-copy-as-json-*.vsix
