.vscode/**
.github/**
.vscode-test/**
src/**
samples/**
docs/**
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
.gitignore
.eslintrc.json
.editorconfig
tsconfig.json
**/.DS_Store
*.vsix
CONTRIBUTING.md
SECURITY.md
CODE_OF_CONDUCT.md
